/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.slider-small{
    margin: 10px 5px;
}

.purchase-item {
    width: 308px;
    height: 380px;
    margin: 0 auto;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    position: relative;
}
.purchase-item__descriprion{
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 35%;
    left: 40%;
}
.purchase-item__umbrella {
    width: 75px;
}
.purchase-item__skeleton {

}
.purchase-item__text {
    color: #fff;
    font-family: "Amateur Printer JNL", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;

    margin: .5em 0px;
}
.purchase-item__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.purchase-item__leaf {
    width: 31px;
    height: 23px;
}
.purchase-item__light {
    width: 23px;
    height: 23px;
}

/* --------------------------
        TABLET (768px)
---------------------------*/

@media only screen and (min-width: 768px) {
    .purchase-item {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .purchase-item__skeleton {
        height: 600px;
    }
    .purchase-item__descriprion {
        top: 13%;
    }
    .s_panel__middle--tabs {
        -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
                order: 3;
    }
}

/* --------------------------
        Desktop (1200px)
---------------------------*/

@media only screen and (min-width: 1200px) {
    .purchase-item {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        height: 100vh;
        margin-top: -100px;
    }
    .purchase-item__descriprion {
        top: 27%;
        left: 30%;
    }
    .purchase-item__skeleton {
        height: 100%;
    }
    .purchase-item__umbrella {
        width: 125px;
    }
    .purchase-item__text {
        font-size: 23px;
    }
    .purchase-item__leaf {
        width: 31px;
        height: 62px;
    }
    .purchase-item__light {
        width: 40px;
        height: 62px;
    }
}

