	  /** Custom Select **/
	  .custom-select-wrapper {
		position: relative;
		display: inline-block;
		user-select: none;
	  }
		.custom-select-wrapper select {
		  display: none;
		}
		.custom-select {
		  position: relative;
		  display: inline-block;
		}
		  .custom-select-trigger {
			position: relative;
			display: block;
			width: 130px;
			padding: 0 65px 0 22px;
			font-size: 11px;
			font-weight: 300;
			color: #222;
			line-height: 27px;
			background: #fff;
			border-radius: 4px;
			cursor: pointer;
			border: 1px solid #D0D0D0;
			margin: 0px 5px 0px;
			font-family: "Basis Grotesque Pro", sans-serif;
		  }
			.custom-select-trigger:after {
			  position: absolute;
			  display: block;
			  content: '';
			  width: 10px; height: 10px;
			  top: 50%; right: 25px;
			  margin-top: -3px;
			  border-bottom: 1px solid #222;
			  border-right: 1px solid #222;
			  transform: rotate(45deg) translateY(-50%);
			  transition: all .4s ease-in-out;
			  transform-origin: 50% 0;
			}
			.custom-select.opened .custom-select-trigger:after {
			  margin-top: 3px;
			  transform: rotate(-135deg) translateY(-50%);
			}
		.custom-options {
		  position: absolute;
		  display: block;
		  top: 100%; left: 0; right: 0;
		  min-width: 100%;
		  margin: 15px 0;
		  border: 1px solid #b5b5b5;
		  border-radius: 4px;
		  box-sizing: border-box;
		  box-shadow: 0 2px 1px rgba(0,0,0,.07);
		  background: #fff;
		  transition: all .4s ease-in-out;
		  
		  opacity: 0;
		  visibility: hidden;
		  pointer-events: none;
		  transform: translateY(-15px);
		  z-index: 13;
		}
		.custom-select.opened .custom-options {
		  opacity: 1;
		  visibility: visible;
		  pointer-events: all;
		  transform: translateY(0);
		}
		  .custom-options:before {
			position: absolute;
			display: block;
			content: '';
			bottom: 100%; right: 25px;
			width: 7px; height: 7px;
			margin-bottom: -4px;
			border-top: 1px solid #b5b5b5;
			border-left: 1px solid #b5b5b5;
			background: #fff;
			transform: rotate(45deg);
			transition: all .4s ease-in-out;
		  }
		  .option-hover:before {
			background: #f9f9f9;
		  }
		  .custom-option {
			position: relative;
			display: block;
			padding: 0 22px;
			/* border-bottom: 1px solid #b5b5b5; */
			font-size: 14px;
			/* font-weight: 600; */
			color: #222;
			line-height: 47px;
			cursor: pointer;
			transition: all .4s ease-in-out;
			font-family: "Basis Grotesque Pro", sans-serif;
		  }
		  .custom-option:first-of-type {
			border-radius: 4px 4px 0 0;
		  }
		  .custom-option:last-of-type {
			border-bottom: 0;
			border-radius: 0 0 4px 4px;
		  }
		  .custom-option:hover,
		  .custom-option.selection {
			background: #f9f9f9;
		  }

/* BIG SELECT */

.select-box__desktop {
	position: relative;
	display: block;
	width: 60%;
	font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
	font-size: 18px;
	color: #222;
	background-color: #fff;
	border: 1px solid #D0D0D0;
	border-radius: 5px;
}

.select-box__desktop__current {
	position: relative;
	-webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	outline: none;
}
.select-box__desktop__current:focus + .select-box__desktop__list {
	opacity: 1;
	-webkit-animation-name: none;
	        animation-name: none;
}
.select-box__desktop__current:focus + .select-box__desktop__list .select-box__desktop__option {
	cursor: pointer;
}
.select-box__desktop__current:focus .select-box__desktop__icon {
	-webkit-transform: translateY(-50%) rotate(180deg);
	    -ms-transform: translateY(-50%) rotate(180deg);
	        transform: translateY(-50%) rotate(180deg);
}
.select-box__desktop__icon {
   position: absolute;
   top: 50%;
   right: 15px;
   -webkit-transform: translateY(-50%);
       -ms-transform: translateY(-50%);
           transform: translateY(-50%);
   width: 8px;
   height: 4px;
   -webkit-transition: 0.2s ease;
   -o-transition: 0.2s ease;
   transition: 0.2s ease;
}
.select-box__desktop__value {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
}
.select-box__desktop__input {
   display: none;
}
.select-box__desktop__input:checked + .select-box__desktop__input-text {
   display: block;
}
.select-box__desktop__input-text {
   display: none;
   width: 100%;
   margin: 0;
   padding: 7px 15px;
   color: #272727;
   font-family: "Basis Grotesque Pro", sans-serif;
   font-size: 11px;
   font-weight: 400;
}
.select-box__desktop__list {
	position: absolute;
	width: 100%;
	padding: 0;
	list-style: none;
	opacity: 0;
	-webkit-animation-name: HideListBig;
	        animation-name: HideListBig;
	-webkit-animation-duration: 0.5s;
	        animation-duration: 0.5s;
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-timing-function: step-start;
	        animation-timing-function: step-start;
	-webkit-box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
	z-index:15;
}
.select-box__desktop__option {
	display: block;
	padding: 15px;
	background-color: #fff;
}
.select-box__desktop__option:hover, .select-box__desktop__option:focus {
	color: #546c84;
	background-color: #fbfbfb;
}
@-webkit-keyframes HideListBig {
	from {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
   }
	to {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
   }
}
@keyframes HideListBig {
	from {
		-webkit-transform: scaleY(1);
		        transform: scaleY(1);
   }
	to {
		-webkit-transform: scaleY(0);
		        transform: scaleY(0);
   }
}