.move-line {
    width: 268px;
    height: 7px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    margin: 20px 0px;
}
.move-line__active {
    width: 33%;
    height: 7px;
    border-radius: 2px;
    
}
.active {
    background-color: black;
}
.slider-small .slider__image{
    height: 50px;
}

.slider-small .slick-prev{
    left: 0rem;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
.slider-small  .slick-next {
    right: 0rem;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}
.slider-small  .slick-arrow {
    top: 50%;
    height: 22px;
    width: 13px;
    margin-top: -12px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url('../images/svg/arrow.svg');
    background-repeat: no-repeat;
}

.s_panel__base_bg__slider .slick-prev {
    left: -1.5rem !important;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.s_panel__base_bg__slider .slick-next {
    right: -1.5rem !important;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
}

.s_panel__base_bg__slider .slick-arrow {
    top: 50%;
    height: 22px;
    width: 13px;
    margin-top: -12px;
    position: absolute;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url('../images/svg/arrow-black.svg');
    background-repeat: no-repeat;
}




/* ------------------------------
		TABLET (768px)
------------------------------ */

@media only screen and (min-width: 768px) {
    .MOBILE .slider-small {
        display: none;
    }
    .s_panel__base_bg__slider .slick-prev {
        left: -1.5rem;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    }
    .s_panel__base_bg__slider  .slick-next {
        right: -1.3rem !important;
        -webkit-transform: rotate(270deg);
            -ms-transform: rotate(270deg);
                transform: rotate(270deg);
    }
    .s_panel__base_bg__slider  .slick-arrow {
        top: 50%;
        height: 22px;
        width: 13px;
        margin-top: -12px;
        position: absolute;
        font-size: 0;
        cursor: pointer;
        background-color: transparent;
        border: none;
        background-image: url('../images/svg/arrow-black.svg');
        background-repeat: no-repeat;
    }
    .s_panel__base_bg__slider .slider__image {
        /* height: 100px; */
        margin: 0px 5px;
    }
    .s_panel__base_bg__slider .slider__image:first-child {
        margin-left: 0px;
    }

}

/* ------------------------------
		DESKTOP (1200px)
------------------------------ */

@media only screen and (min-width: 1200px) {

}