/* --------------------------
            GENERAL 
-------------------------- */
html,
body {
    margin: 0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 100vh;
    background-color: #a300ff;
}

body {
    min-width: 320px;
    overflow-X: hidden;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

            height: 100%;
            /* visibility: visible; */
}

.footer {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

button:focus {
    outline: none;
}

/* ------------------------------
		TABLET (768px)
------------------------------ */

@media only screen and (min-width: 768px) {
    .s_panel_MOBILE {
        position: relative;
        /* height: 0; */
    }
    body {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

}

/* ------------------------------
		TABLET (1200px)
------------------------------ */

@media only screen and (min-width: 1200px) {
    .s_panel_desktop {
        display: block;
    }
    .s_panel_MOBILE {
       display: none;
    }

}





